	{#
/**
 * @file
 * Socialbase's theme implementation to display a page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
{% include directory ~ '/templates/includes/page-reference.html.twig' %}

<main id="content" class="main-container" role="main">
{% if page.content_top %}
    {{ page.content_top }}
  {% endif %}
	 {{ attach_library('socialbase/offcanvas') }}
  {# Content attributes, see Style guide Templates for documentation #}
  {% block section %}
  
    <section{{ content_attributes }}>
    
    <div class="region--title">
		<h1 class="h4 section-title">{% trans %}Map{% endtrans %}</h1>
	</div>
	
		
     {% if page.complementary_top or page.complementary_bottom %}
        <aside class="region--complementary" role="complementary">
        <div class="views-exposed-form">
		<div class="btn--offcanvas-trigger">
		    <a href="#block-filter" class="btn btn-default btn-raised  waves-effect waves-btn">
		      <svg class="btn-icon">
		        <use xlink:href="#icon-filter_list"></use>
		      </svg>
		      {% trans %}Filter{% endtrans %} </a>
		  </div>
		        <div id="block-filter" class="off-canvas off-canvas-right off-canvas-xs-only">
	       <div class="offcanvas-head">   
	          <header class="complementary-title">{% trans %}Filter{% endtrans %}</header>
	          <div class="offcanvas-tools">
		        <a href="#" class="btn btn-icon-toggle pull-right waves-effect waves-circle">
		          <svg class="pull-left btn-icon icon-black">
		            <title> {% trans %}Close{% endtrans %}</title>
		            <use xlink:href="#icon-close"></use>
		          </svg>
		        </a>
		      </div>
		    </div>
		
		 <div class="offcanvas-body">
         {# FORM FILTER #}		
     
			{{ drupal_form('Drupal\\leaflet_cluster_view\\Form\\FilterMapForm') }}
			
			
		{# END FILTER #}
		 </div>
        </div>        
        </div>
        </aside>
      {% endif %}

      {% block content %}
        <a id="main-content" tabindex="-1"></a>
        
        {{ page.content }}
      {% endblock %}

      {# an extra check for complementary regions to be empty #}
      {% if page.sidebar_first and not page.complementary_top and not page.complementary_bottom %}
        {% block sidebar_first %}
          {{ page.sidebar_first }}
        {% endblock %}
      {% endif %}

      {# an extra check for complementary regions to be empty #}
      {% if page.sidebar_second and not page.complementary_top and not page.complementary_bottom %}
        {% block sidebar_second %}
          {{ page.sidebar_second }}
        {% endblock %}
      {% endif %}

    </section>
  {% endblock %}

  {% if page.content_bottom %}
    {{ page.content_bottom }}
  {% endif %}

</main>

{% if page.footer %}
  {{ page.footer }}
{% endif %}