{% if content.field_group_description|render %}
	{{ content.field_group_description }}
{% endif %}

{% if content.field_phone|render %}  
<div class="list-item list-item--withlabel group-fields">
  <div class="list-item__label">{% trans %}Phone{% endtrans %}</div>
  <div class="list-item__text">
  {{ content.field_phone }}
  </div>
</div>
{% endif %}

{% if content.field_mobile_phone|render %}  
<div class="list-item list-item--withlabel group-fields">
  <div class="list-item__label">{% trans %}Mobile Phone{% endtrans %}</div>
  <div class="list-item__text">
  {{ content.field_mobile_phone	 }}
  </div>
</div>
{% endif %}


{% if content.field_email|render %}  
<div class="list-item list-item--withlabel group-fields">
  <div class="list-item__label">{% trans %}Email{% endtrans %}</div>
  <div class="list-item__text">
  {{ content.field_email	 }}
  </div>
</div>
{% endif %}

{% if content.field_web|render %}  
<div class="list-item list-item--withlabel group-fields">
  <div class="list-item__label">{% trans %}Web{% endtrans %}</div>
  <div class="list-item__text">
  <a target="_blank" href="{{ content.field_web.0 }}">{{ content.field_web.0 }}</a>
  </div>
</div>
{% endif %}


<div class="list-item list-item--withlabel group-fields">
<div class="list-item__label">{% trans %}Social networks{% endtrans %}</div>
<div class="list-item__text">        

	{% if content.field_facebook|render %}
		<a target="_blank" href=" {{ content.field_facebook.0 }}">Facebook</a>
	{% endif %}
	
	{% if content.field_linkedin|render %}
		<a target="_blank" href=" {{ content.field_linkedin.0 }}">Linkedin</a>
	{% endif %}
	
	{% if content.field_twitter|render %}
		<a target="_blank" href=" {{ content.field_instagram.0 }}">Twitter</a>
	{% endif %}
 
	{% if content.field_instagram|render %}
		<a target="_blank" href=" {{ content.field_instagram.0 }}">Instagram</a>
	{% endif %}         
</div>
</div>  

{% if content.field_tag['#items'] %}
  <h5>{% trans %}Technologies{% endtrans %}</h5>
  {% for item in content.field_tag['#items'] %}
    <div class="badge badge--pill badge--large badge-default">{{ item.entity.label }}</div>
  {% endfor %}
{% endif %}

{% if content.field_arxius|render %}  
<div class="list-item list-item--withlabel group-fields">
  <div class="list-item__label">{% trans %}Files{% endtrans %}</div>
  <div class="list-item__text">
  {{ content.field_arxius }}
  </div>
</div>
{% endif %}